body {
  background-image: url('../img/tetris-wallpaper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
    color: rgb(247, 247, 247);
}

p {
    color: rgb(255, 255, 255);
}

.card-fluid {
    max-width: 18rem;
    width: 100%;
}

.card-fluid .card-img-top {
    object-fit: cover;
    height: 150px;
}
